*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family: 'Sora', sans-serif;
}
body{
	background-color: #efefef;
}
#head_cont {
	width:100%;
	height:30vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
#list_cont {
	height:70vh;
	width:100%;
}
.lists{
	height:25vh;
	color: black;
	width: 100%;align-items:center;
	padding: 0px 20%;
    font-size: 0.9em;
}
.lists_head{
	height: 40%;
	width:20%;
	border-radius:100px 0px 0px 100px;
    background-color: #c5c5c5ab;
    border: 2px solid #ffffff;text-align: center;display: grid;align-items: center;
}
#minecraft_cont{
	transition:transform 0.6s;
}
#mine_id_cont{
	transition: transform 0.6s;
}
.lists_ip{
	border-radius:0px 100px 100px 0px;
	width:60%;
	height: 40%;
	background-color: #c5c5c5ab;
	border: 2px solid #ffffff;
	margin-left: 1%;
    display: flex;
    align-items: center;
	justify-content: center;position: relative;}
#vazha_img{
	height:90%;
}
#mine_id{
	max-width: 90%;
	word-break: break-word;
}
.lists_ip .clipboard {
	max-width: 34%;
	max-height: 34%;
	background-color: #919191;
	border-radius: 10px;
	position: absolute;
	bottom: 120%;
	left: 50%;
	margin-left: -17%;
	color: white;
	letter-spacing: 1px;
display: flex;z-index: 1;justify-content: center;padding: 10px;align-items: center;visibility: hidden;opacity: 0;font-size: 0.7em;transition: opacity 0.6s;white-space: nowrap;}
.lists_ip .clipboard::after{
	content: "";
	position: absolute;
	top: 95%;left: 50%;/* margin-left: -5%; */border-width: 0.6em;border-style: solid;border-color: #919191 transparent transparent;}

@media only screen and (max-width:767px){
	.lists{
		padding:0% 0%;
		font-size: 0.7em;
	}

	.lists_head {
		min-width: 30%;
	}
	.lists_ip .clipboard{
		min-width: 90px;
	margin-left: -26%;}
}